# OS
*.DS_Store
Thumbs.db

# Editor temp files
*.sw?
.#*
*#
*~
*.sublime-*

# IDE
.classpath
.project
.settings
.idea/
*.iml

# Build and compilation
build/
bin/
target/
.gradle/
dependency-reduced-pom.xml
*.jar
*.class
README.html

# Misc
/scratch
